<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DayOneTestNG" parallel="methods" thread-count="2" >


  <test name="Gmail Test">
    
    <classes>
      <class name="dayone.Gmail" />
    </classes>
 </test>
 
  <test name="Yahoo Test">
    <classes>
      <class name="dayone.Yahoo"/>
    </classes>
  </test>
  <test name="Yahoo ---- Value --- Test">
    <classes>
      <class name="dayone.ValuesPassing"/>
    </classes>
  </test>
</suite>


